#where {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#istheboy {
    font-size: 55px;
    left: 20px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#question {
    font-size: 65px;
    bottom: 30px;
    right: 50px;
    position: absolute;
    z-index: 10;

}

#blackbox {
    width: 400px;
    height: 200px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#whitebox {
    width: 70px;
    height: 70px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 30px;
}


#bg {
    background-color: #ffff66;
    margin: 0;
    height: 550px;
    width: 320px;
    margin: 0;
}

#hi {
    font-size: 90px;
    position: absolute;
    top: 10%;
    left: 7%;
    color: brown;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;

}

#hello {
    font-size: 60px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 10;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#byg {
    background-color: #ffff66;
    margin: 0;
    height: 550px;
    width: 320px;
    margin: 0;
}

#say {
    flex-wrap: wrap;
    font-size: 25px;
    color: brown;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 10;
    position: absolute;
    top: 100px;
    line-height: 1.6;
    align-content: center;
}

#say2 {
    flex-wrap: wrap;
    font-size: 25px;
    color: brown;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 10;
    position: absolute;
    top: 200px;
    line-height: 1.6;
    align-content: center;
}

#amusement {
    width: 155px;
    height: 215px;
    position: absolute;
    bottom: 20px;
    right: 34px;
    z-index: 15;
}

#bkg {
    background-color: #f433ff;
    margin: 0;
    height: 550px;
    width: 320px;
    margin: 0;
}

#bkgsmall {
    background-color: #f433ff;
    margin: 0;
    height: 100px;
    width: 320px;
    margin: 0;
    position: absolute;
    bottom: 0px;
    z-index: 5;
}

#amusement2 {
    width: 310px;
    height: 450px;
    filter: hue-rotate(300deg) saturate(1.5);
    z-index: -10;
}

#wtbx1 {
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: white;
    top: 45px;
    left: 15px;
    z-index: 7;
}

#ticket {
    position: absolute;
    font-size: 80px;
    top: 30px;
    left: 22px;
    z-index: 10;
}


#wtbx2 {
    position: absolute;
    width: 90px;
    height: 75px;
    background-color: white;
    top: 120px;
    left: 70px;
    z-index: 10;
}

#icecream {
    position: absolute;
    font-size: 65px;
    top: 115px;
    left: 82px;
    z-index: 10;
}


#wtbx3 {
    position: absolute;
    width: 70px;
    height: 90px;
    background-color: white;
    top: 170px;
    left: 155px;
    z-index: 10;
}

#hotdog {
    position: absolute;
    font-size: 58px;
    top: 172px;
    left: 158px;
    z-index: 10;
}


#wtbx4 {
    position: absolute;
    width: 80px;
    height: 100px;
    background-color: white;
    top: 230px;
    left: 220px;
    z-index: 10;
}

#popcorn {
    position: absolute;
    font-size: 63px;
    top: 235px;
    left: 225px;
    z-index: 10;
}

#wheel {
    position: absolute;
    font-size: 100px;
    top: 400px;
    left: 220px;
    z-index: 10;
}

#foryou {
    font-size: 43px;
    color: #FFEA00;
    position: absolute;
    bottom: 20px;
    left: 20px;
    line-height: 1;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 10;
}

#smallyellow {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 60px;
    height: 25px;
    text-align: center;
    background-color: #ffff66;
}

#happyquestion {
    font-size: 35px;
    color: navy;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 1.1;
    font-style: italic;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#imhappy {
    position: absolute;
    font-size: 32px;
    color: black;
    top: 280px;
    left: 20px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#checkhappy {
    position: absolute;
    font-size: 30px;
    top: 280px;
    left: 255px;
}

#soso {
    position: absolute;
    font-size: 32px;
    color: black;
    top: 370px;
    left: 20px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#checksoso {
    position: absolute;
    font-size: 30px;
    top: 370px;
    left: 140px;
}

#bad {
    position: absolute;
    font-size: 32px;
    color: black;
    top: 455px;
    left: 20px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#checkbad {
    position: absolute;
    font-size: 30px;
    top: 455px;
    left: 162px;
}

#happyimage {
    width: 250px;
    height: 230px;
    position: absolute;
    top: 70px;
    left: 47px;
    border-radius: 50%;
}

@keyframes glow {

    0%,
    100% {
        filter: drop-shadow(0 0 5px magenta);
    }

    50% {
        filter: drop-shadow(0 0 20px magenta)
    }
}

#happysay {
    color: brown;
    font-family: "Delius", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    bottom: 150px;
    left: 45px;
    position: absolute;
    animation: glow 2s infinite;
}

#sososay {
    font-size: 26px;
    color: brown;
    position: absolute;
    bottom: 140px;
    left: 35px;
    font-family: "Delius", cursive;
    font-weight: 600;
    font-style: normal;
}

#sosoimage {
    width: 180px;
    height: 160px;
    position: absolute;
    top: 110px;
    left: 30px;
    filter: grayscale(0.4);
    border-radius: 10px;
}

#badbox {
    width: 320px;
    height: 550px;
    background-color: #d0b336;
    margin: 0;
}

#badimage {
    width: 150px;
    height: 70px;
    position: absolute;
    top: 70px;
    left: 47px;
    filter: grayscale(90%);
}

#badsay {
    font-family: "Delius", cursive;
    font-weight: 300;
    font-style: normal;
    color: beige;
    position: absolute;
    bottom: 50px;
    left: 35px;
    font-size: 18px;
}

#clownhappy {
    width: 320px;
}

#clownsoso {
    filter: grayscale(45%);
    width: 320px;
}

#clownbad {
    filter: grayscale(100%);
    width: 320px;
}

#hiclown {
    flex-wrap: wrap;
    position: absolute;
    font-size: 30px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    top: 320px;
    left: 25px;
    color: black;
}

#hiclownhap {
    flex-wrap: wrap;
    position: absolute;
    font-size: 35px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: italic;
    top: 300px;
    left: 45px;
    color: #E72107;
}

#hiclownbad {
    flex-wrap: wrap;
    position: absolute;
    font-size: 25px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    bottom: 60px;
    left: 25px;
    color: darkolivegreen;
}

#sayhiclown {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#sayhiclown2 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#sayhiclown3 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#black {
    background-color: black;
    width: 300px;
    height: 550px;
    font-size: 30px;
    color: white;
}

#missing {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 105px;
    color: black;
    position: absolute;
    top: 25px;
    left: 35px;
    font-style: italic;
}

#bkgl {
    background-color: #f433ff;
    margin: 0;
    height: 900px;
    width: 900px;
    margin: 0;
}

#find1 {
    position: absolute;
    top: 700px;
    left: 700px;
    font-size: 70px;
}

#find2 {
    position: absolute;
    top: 580px;
    left: 400px;
    font-size: 60px;
    z-index: 5;
}

#bkgl_reverse {
    background-color: black;
    margin: 0;
    height: 700px;
    width: 470px;
    margin: 0;
}

#missing2 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #f433ff;
    position: absolute;
    top: 25px;
    left: 35px;
    font-style: italic;
    z-index: 10;
}

#missingred {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #ff0000;
    position: absolute;
    top: 35px;
    left: 35px;
    font-style: italic;
}

#missingred2 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #ff0000;
    position: absolute;
    top: 120px;
    left: 80px;
    font-style: italic;
}

#missingred3 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ff0000;
    position: absolute;
    top: 240px;
    left: 160px;
    font-style: italic;
}

#missingred4 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #ff0000;
    position: absolute;
    top: 350px;
    left: 200px;
    font-style: italic;
}

#missingred5 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #ff0000;
    position: absolute;
    top: 158px;
    left: 270px;
    font-style: italic;
}


#noise {
    position: absolute;
    bottom: 105px;
    left: 35px;
    width: 200px;
    height: 130px;
}

#one {
    position: absolute;
    top: 150px;
    left: 8px;
    width: 322px;
    height: 150px;
    filter: grayscale(95%);
}

#meet {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    font-style: oblique;
}

#quiet {
    position: absolute;
    font-size: 30px;
    bottom: 40px;
    left: 30px;
}

#q2 {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 50px;
    line-height: 1.0;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    flex-wrap: wrap;
}

#bkgg {
    background-color: #f433ff;
    width: 480px;
    height: 550px;
}

#two {
    position: absolute;
    top: 200px;
    right: 2px;
    width: 302px;
    height: 150px;
    filter: grayscale(95%);
}

#three {
    position: absolute;
    top: 250px;
    right: 5px;
    width: 302px;
    height: 160px;
    filter: grayscale(95%);
}

#four {
    position: absolute;
    top: 220px;
    left: 20px;
    width: 312px;
    height: 150px;
    filter: grayscale(95%);
}

#redbox {
    position: absolute;
    /* or fixed */
    width: 320px;
    height: 550px;
    background-color: #fa3447;
    margin: 0;
    z-index: -1;
    /* 뒤로 보내기 */
}

#clownfeet {
    position: absolute;
    /* 반드시 position 있어야 함 */
    z-index: 10;
    /* 앞에 나오게 */
    width: 220px;
    height: 250px;
    top: 30px;
    left: 50px;
}

#lowanx {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    position: absolute;
    font-size: 35px;
    top: 340px;
    left: 20px;
}

#midanx {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    position: absolute;
    font-size: 35px;
    position: fixed;
    top: 440px;
    left: 20px;
}

#highanx {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    position: absolute;
    font-size: 35px;
    top: 540px;
    left: 20px;
}

#whyrun {
    position: absolute;
    font-size: 25px;
    color: black;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    top: 330px;
    left: 30px;
}

#run {
    position: absolute;
    font-size: 45px;
    color: black;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    top: 45px;
    left: 30px;
    width: 190px;
    height: 190px;
}


#comeback {
    position: absolute;
    font-size: 25px;
    color: black;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    top: 400px;
    left: 30px;
}

#kidnap {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    font-size: 50px;
    top: 30px;
    font-style: italic;
    flex-wrap: wrap;
}

#bkgl2 {
    width: 500px;
    height: 900px;
    background-color: #f433ff;
}

#call {
    position: absolute;
    bottom: 40px;
    right: 30px;
}

#bkgl3 {
    width: 500px;
    height: 900px;
    background-color: #f2079c;
}

#bkgl4 {
    width: 500px;
    height: 900px;
    background-color: #ff0000;
}

#call2 {
    position: absolute;
    bottom: 130px;
    right: 105px;
    filter: saturate(50%);
    filter: greyscale(40%);
    transform: rotate(180deg);
}

#call3 {
    position: absolute;
    bottom: 220px;
    right: 195px;
    filter: contrast(150%);
    filter: grayscale(90%);
}

#call4 {
    position: absolute;
    bottom: 350px;
    right: 135px;
    filter: blur(45%);
    filter: grayscale(25%);
    transform: scaleY(-1);
}

#call5 {
    position: absolute;
    bottom: 480px;
    right: 60px;
    transform: rotate(90deg);
    filter: grayscale(95%);
}

#above {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 300px;
    height: 450px;
}

#view {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 200px;
    left: 25px;
    color: brown;
    font-size: 30px;
    flex-wrap: wrap;
}

#truth1 {
    position: absolute;
    top: 27px;
    left: 15px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 27px;
}

#truth2 {
    position: absolute;
    bottom: 27px;
    right: 15px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 27px;
}

#explain {
    font-family: "Barriecito", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
}

#clownface {
    width: 150px;
    height: 150px;
}

/*
#blbox {
    width: 350px;
    height: 600px;
    background-color: black;
}

#whbox {
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    left: 200px;
    right: 200px;
} */